.current-card {
  width: 100%;
  height: 360px;
  background: rgb(2, 0, 36);
}

.column-current {
  flex: 33%;
  padding: 10px;
  align-self: center;
}

.forecast-card {
  width: 100%;
  height: 260px;
  background: rgb(2, 0, 36);
}

.button-forecast {
  flex: 20%;
  padding: 10px;
  background: rgb(2, 0, 36);
}

.button-forecast-active {
  flex: 20%;
  padding: 10px;
  background: rgb(32, 27, 112);
}

.button-forecast:hover {
  background-color: rgb(78, 69, 196);
}

.row {
  display: flex;
}

.title {
  font-size: 50px;
  margin: 0;
  color: white;
}

.title-2 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.clock {
  font-size: 23px;
  margin: 0;
  color: white;
}

.text {
  font-size: 20px;
  margin: 0;
  color: white;
}

.input {
  margin: 5px;
  font-size: 16px;
  background-color: #FFFFFF;
}

.search-text {
  font-size: 20px;
  color: black;
}

.search-button {
  font-size: 16px;
  color: black;
}

.search-input {
  margin: 15px;
}

.icon {
  width: 100px;
}

.temperature {
  font-size: 80px;
  width: auto;
  color: white;
  margin: 0;
}

.forecast-hour {
  width: 100%;
  height: 250px;
  background: rgb(5, 3, 44);
}

.column-hour {
  flex: 15%;
  padding: 10px;
  align-self: center;
}

.icon-hour {
  width: 70px;
}
